<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../chat.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <span>ACE</span>
            <a href="">
                <button>Dashboard</button>
            </a>
        </div>
        <div class="extra">
            <div id="info">
                <div class="content-div">
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>
                    <span class="extraContent">wadsafafafaasfasffassdf</span>

                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-div">
                <div class="chatTxt">
                    <div class="chatMessage">Hello</div>
                    <div class="chatMessage">Hi</div>
                    <div class="chatMessage">dsfsdzfsdfsfsfsd</div>
                    <div class="chatMessage">dsfsdfsdf</div>
                    <div class="chatMessage">dsfsdfsdf</div>
                    <div class="chatMessage">dsfsdfsdf</div>
                </div>
            </div>
            <div class="input">
                <input type="file" accept=".pdf">
                <input type="text" id="input-txt">
            </div>
        </div>
        
    </div>
    <script src="../scripts/chat.js"></script>
</body>
</html>