<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../register.css" type="text/css"
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">
    <title>Register</title>
  </head>
  <body>

  <div class="outerContainer">
      <form action=""></form>
    <form action="/signup/authority" method="post" class="signup-form" id="memberForm">
      <span class="title">Register authority</span>
        <input type="text" name="authority" placeholder="authority name" id="authorityName" />

        <input type="password" name="password" placeholder="password" id="password" />

      <input type="submit" value="Register" class="submit-button" id="final-submit" />
      <span class="last">Already have a portal? <a href="./adminLogin"><span class="login-link">Login</span></a></span>


    </form>
  </div>
    <div id="err" class="error-message"></div>
    <div class="message"></div>
    <script type="text/javascript" src="../scripts/registerAuthority.js" defer></script>
  
  </body>

</html>
